body{
    margin: 0;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    border-style: groove;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: beige;
    max-width: 500px;
}

#RBR {
    background-color: rgb(0, 0, 68);
}

#FER {
    background-color: rgb(200, 3, 3);
}

#MCL {
    background-color: rgb(255, 145, 0);
}

#MRC {
    background-color: rgb(68, 141, 145);
}

#ASM {
    background-color: rgb(20, 101, 0);
}

#ALP {
    background-color: rgb(214, 0, 193);
}

#STK {
    background-color: rgb(5, 152, 0);
}

#HAA {
    background-color: rgb(0, 0, 0);
}

#WIL {
    background-color: rgb(0, 0, 160);
}

#VCA {
    background-color: rgb(80, 80, 131);
}

img{
    width: 200px;
}